.page-header
  = link_to new_request_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Request
  %h1 Listing requests

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th User
        %th Title
        %th Description
        %th Created at
        %th Offers count
        %th

    %tbody
      - decorated_requests.each do |request|
        %tr
          %td= request.user.email
          %td= request.title
          %td= request.description
          %td= request.created_at
          %td= request.offers_count
          %td= request.show_link